body {
    margin: 200px;
    background-color: #1F2937;
    font-family: 'Karla', sans-serif;
}

h1, h3, button, .copy-btn, label {
    color:#FFFFFF;
}

h1 {
    width: 370px;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 0;
}

h3 {
    margin: 10px 0 50px;
    font-size: 20px;
    font-weight: 400;
    width: 400px;
    height: 30px;
}

span {
    color:#4ADF86;
}

button {
    background-color: #4ADF86;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-weight: 400;
    border: none;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #273549;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.password {
    background-color: #273549;
    display: inline-block;
    border-radius: 5px;
    color: #55F991;
    text-align: center;
    width: 250px;
    height: 60px;
    border: none;
}

.input-num {
    background-color: #273549;
    border: none;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    text-align: center;
}

.length {
    margin-left: 5px;
    margin-bottom: 50px;
}

.copy-btn {
    background-color: #4ADF86;
    width: 60px;
    height: 60px;
    display: inline-block;
}
.password-cont {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #273549;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #273549 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }